<h2 style="position: relative; left:630px; top: 158px;">Forget Password</h2>
<div class="container">
<mat-card>
<form [formGroup]="forgetForm" class="form">
<div class="input-control">
    <label for="email" class="input-label" hidden>Email Address</label>
    <input type="email" name="email" id="email" class="input-field" placeholder="Email Address" formControlName="Email"/>
  </div>
  <div class="input-control">
    <button mat-raised-button (click)="sendMail()">Login</button>
  </div>
</form>
</mat-card>
</div>