<mat-card>
<main class="main">
  <div class="container">
    <section class="wrapper">
      <div>
        <h1 class="text">Sign In</h1>
        <p class="text">
          New user?
          <span><a href="#" class="text text-links" routerLink="/signup">Create an account</a></span>
        </p>
      </div>
      <hr />

      <form [formGroup]="loginForm" class="form">
        <div class="input-control">
          <label for="email" class="input-label" hidden>Email Address</label>
          <input type="email" name="email" id="email" class="input-field" placeholder="Email Address" formControlName="Email"/>
        </div>
        <div class="input-control">
          <label for="password" class="input-label" hidden>Password</label>
          <input type="password" name="password" id="password" class="input-field" placeholder="Password" formControlName="Password"/>
        </div>
        <div class="input-control">
          <a routerLink="/forget-password" class="text text-links">Forgot Password</a>
          <button mat-raised-button (click)="login()">Login</button>
        </div>
      </form>
    </section>
  </div>
</main>
</mat-card>